# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env

# Virtual environments
.venv/
app/.venv/

# Test cache
.pytest_cache/

# Ruff
app/.ruff_cache/